@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Roboto:wght@300;400;500&display=swap");

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  @apply text-base;
  background-color: #f6f4f0;
  font-family: "Roboto", sans-serif;
}
