.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.navbar.scrolled {
  margin-bottom: 1rem;
  background-color: #fff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbarLogo img {
  margin-right: 0 !important;
  position: relative;
  border-radius: 50%;
  height: 45px;
  width: auto;
  max-width: none;
}

@media only screen and (max-width: 640px) {
  .navbarLogo img {
    height: 40px;
  }
  .navbar {
    background: linear-gradient(to right, #e6e6e6, #ececec);
  }
}

@media only screen and (min-width: 768px) {
  .navbarLogo img {
    height: 60px;
  }
}

@media screen and (min-width: 1024px) {
  .navbarLogo img {
    height: 72px;
  }
}
